# for Loops

A <code>for</code> loop acts as an iterator in Python; it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the <code>for</code> statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a <code>for</code> loop in Python:

    for item in object:
        statements to do stuff
        
## Table of Contents
1. Iterate through Lists
2. Iterate through Strings
3. Iterate through Tuples
4. Tuple Unpacking
5. Iterate throuh Dictionaries
6. Iterate through Files
7. Use `range` to generate numbers.
8. Break & Continue
9. For-Else
10. Nested for loops
11. Examples

The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use <code>if</code> statements to perform checks.

Let's go ahead and work through several example of <code>for</code> loops using a variety of data object types. We'll start simple and build more complexity later on.

## 1) Iterate through Lists

In [1]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [2]:
for i in list1:
    print(i)

print("I'm done")

10
20
30
40
50
60
70
80
90
100
I'm done

In [3]:
for i in list1:
    print(i ** 2)

100
400
900
1600
2500
3600
4900
6400
8100
10000

Great! Hopefully this makes sense. Now let's add an <code>if</code> statement to check for even numbers. We'll first introduce a new concept here

Notice that if a number is fully divisible with no remainder, the result of the modulo call is 0. We can use this to test for even numbers, since if a number modulo 2 is equal to 0, that means it is an even number!

Back to the <code>for</code> loops!

**Let's print only the even numbers from that list!**

In [4]:
list1 = [10, 201, 305, 402, 507, 630, 705, 866, 943, 1000]

for num in list1:
    if num % 2 == 0:
        print(num)

10
402
630
866
1000

**We could have also put an <code>else</code> statement in there:**

In [5]:
list1

[10, 201, 305, 402, 507, 630, 705, 866, 943, 1000]

In [6]:
for num in list1:
    if num % 2 == 0:
        print(f"{num} is Even")
    else:
        print(f"{num} is Odd")

10 is Even
201 is Odd
305 is Odd
402 is Even
507 is Odd
630 is Even
705 is Odd
866 is Even
943 is Odd
1000 is Even

**Another common idea during a <code>for</code> loop is keeping some sort of running tally during multiple loops. For example, let's create a <code>for</code> loop that sums up the list:**

In [7]:
scores = [9, 8, 10, 9, 5]

In [8]:
total = 0

for s in scores:
    total += s

print("Total: ", total)

Total:  41

**Great! Read over the above cell and make sure you understand fully what is going on. Also we could have implemented a <code>+=</code> to perform the addition towards the sum. For example:**

## 2) Iterate through Strings
We've used <code>for</code> loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [9]:
for ch in "I love python!":
    print(ch.upper())

I

L
O
V
E

P
Y
T
H
O
N
!

## 3) Iterate through Tuples
Let's now look at how a <code>for</code> loop can be used with a tuple:

In [10]:
for i in (5, 4, 3, 2, 1):
    print(i * 2)

10
8
6
4
2

## 4) Tuple Unpacking
Tuples have a special quality when it comes to <code>for</code> loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the <code>for</code> loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [11]:
list2 = [(10, 2), (50, 3), (6, 7)]

In [12]:
for tup in list2:
    print(tup)

(10, 2)
(50, 3)
(6, 7)

In [13]:
for (t1,t2) in list2:
    print(t1)
    print(t2)
    print("*"*20)

10
2
********************
50
3
********************
6
7
********************

In [14]:
for t1, t2 in list2:
    print(t1 * t2)

20
150
42

another example with different size

In [15]:
list2 = [(2,4,20,30),(6,8,20,30),(10,12,20,30)]

In [18]:
for v1, v2, v3, v4 in list2:
    print(f"{v1} - {v2} - {v3} - {v4}")

2 - 4 - 20 - 30
6 - 8 - 20 - 30
10 - 12 - 20 - 30

Cool! With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many objects will deliver their iterables through tuples. Let's start exploring iterating through Dictionaries to explore this further!

## 5) Iterate throuh Dictionaries

In [20]:
d = {'k1':1, 'k2':2, 'k3':3}

In [21]:
for item in d:
    print(item)

k1
k2
k3

In [22]:
for v in d.values():
    print(v)

1
2
3

In [23]:
list(d.keys())

['k1', 'k2', 'k3']

In [24]:
list(d.items())

[('k1', 1), ('k2', 2), ('k3', 3)]

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values? 

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a *dictionary view object*. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

Since the .items() method supports iteration, we can perform *dictionary unpacking* to separate keys and values just as we did in the previous examples.

In [25]:
for (k, v) in d.items():
    print(f"Key: {k} || Value: {v}")

Key: k1 || Value: 1
Key: k2 || Value: 2
Key: k3 || Value: 3

In [26]:
for k,v in d.items():
    print(f"Key: {k} || Value: {v}")

Key: k1 || Value: 1
Key: k2 || Value: 2
Key: k3 || Value: 3

## 6) Iterate through Files

In [28]:
for line in open("not_found.txt", 'r'):
    print(line.title())

Hello

Iam

A New

Line

Hello

It'S Me Again

Python Is Great

Big Data Is Great Too

## 7) Use `range` to generate numbers.

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [32]:
list(range(10, 20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [34]:
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [35]:
for i in range(10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

## 8) Break & Continue

In [2]:
for i in range(10, 41):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        print("Continue")
    else:
        print(f"{i} not divisible")

10 not divisible
11 not divisible
12 is divisble by 3
Continue
13 not divisible
14 not divisible
15 is divisble by 3
Continue
16 not divisible
17 not divisible
18 is divisble by 3
Continue
19 not divisible
20 not divisible
21 is divisble by 3
Continue
22 not divisible
23 not divisible
24 is divisble by 3
Continue
25 not divisible
26 not divisible
27 is divisble by 3
Continue
28 not divisible
29 not divisible
30 is divisble by 3
Continue
31 not divisible
32 not divisible
33 is divisble by 3
Continue
34 not divisible
35 not divisible
36 is divisble by 3
Continue
37 not divisible
38 not divisible
39 is divisble by 3
Continue
40 not divisible

**Break**<br>
to stop the loop

In [3]:
for i in range(10, 41):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        break
        print("Continue")
    else:
        print(f"{i} not divisible")

print("I'm done")

10 not divisible
11 not divisible
12 is divisble by 3
I'm done

**Continue**<br>
to skip an iteration

In [5]:
for i in range(10, 41):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        continue
        print("Continue")
    else:
        print(f"{i} not divisible")

print("I'm done")

10 not divisible
11 not divisible
12 is divisble by 3
13 not divisible
14 not divisible
15 is divisble by 3
16 not divisible
17 not divisible
18 is divisble by 3
19 not divisible
20 not divisible
21 is divisble by 3
22 not divisible
23 not divisible
24 is divisble by 3
25 not divisible
26 not divisible
27 is divisble by 3
28 not divisible
29 not divisible
30 is divisble by 3
31 not divisible
32 not divisible
33 is divisble by 3
34 not divisible
35 not divisible
36 is divisble by 3
37 not divisible
38 not divisible
39 is divisble by 3
40 not divisible
I'm done

In [6]:
for i in range(10, 41):
    if i % 3 == 0:
        print(f"{i} is divisble by 3")
        continue
        print("Continue")
    else:
        continue
        print(f"{i} not divisible")

print("I'm done")

12 is divisble by 3
15 is divisble by 3
18 is divisble by 3
21 is divisble by 3
24 is divisble by 3
27 is divisble by 3
30 is divisble by 3
33 is divisble by 3
36 is divisble by 3
39 is divisble by 3
I'm done

## 9) For-Else

In [7]:
# Else only works if the loop continues till the end
for i in range(10):
    print(i*2)
else:
    print("No items left.")

0
2
4
6
8
10
12
14
16
18
No items left.

In [8]:
# Else won't work because there's a break
for i in range(10):
    if i == 6:
        break
    print(i)
else:
    print("No items left.")

0
1
2
3
4
5

## 10) Nested for loops

In [9]:
# Gadwal el darb
for i in range(1, 11):
    print(f"2 * {i} = {2*i}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [11]:
for i in range(1, 11):
    # Outer loop
    print(f"Multiplcation Table for {i}")
    for j in range(1, 11):
        # Inner loop
        print(f"{i} * {j} = {i*j}")

Multiplcation Table for 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
Multiplcation Table for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
Multiplcation Table for 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
Multiplcation Table for 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
Multiplcation Table for 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Multiplcation Table for 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
Multiplcation Table for 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
Multiplcation Table for 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
Multiplcation Table for 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
Multiplcation Table for 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

**another example**

In [12]:
for ch in 'saturday':
    print(ch)

s
a
t
u
r
d
a
y

In [14]:
days = ['saturday', 'sunday', 'monday']

for day in days:
    print(f"Day: {day}")
    for ch in day:
        # Print the letters of the day
        print(ch)
    print('------------------')

Day: saturday
s
a
t
u
r
d
a
y
------------------
Day: sunday
s
u
n
d
a
y
------------------
Day: monday
m
o
n
d
a
y
------------------

In [15]:
س = 5

In [16]:
س

5

## 11) Examples

### Example 1

In [17]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### Example 2

In [18]:
for i in range(1, 21):
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

### Example 3

In [20]:
my_list = [10, 30, 35, 12, 100, -4, -20, 0]

for i in my_list:
    if i <= 0:
        print(f"{i} should be positive")
    elif i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
30 is even
35 is odd
12 is even
100 is even
-4 should be positive
-20 should be positive
0 should be positive

In [21]:
my_list = [10, 30, 35, 12, 100, -4, -20, 0]

for i in my_list:
    if i <= 0:
        print(f"{i} should be positive")
        continue
        
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
30 is even
35 is odd
12 is even
100 is even
-4 should be positive
-20 should be positive
0 should be positive

### Example 4

In [23]:
sum_of_numbers = 0

for i in range(1, 1001):
    sum_of_numbers += i ** 2
    
sum_of_numbers

333833500

# Great Work!