# Lambda Expressions, Map, and Filter and Reduce

Now its time to quickly learn about two built in functions, filter and map. Once we learn about how these operate, we can learn about the lambda expression, which will come in handy when you begin to develop your skills further!

## Table of Contents
1. `map` function
2. `filter` function
3. `reduce` function
4. lambda function

## 1) `map` function

The **map** function allows you to "map" a function to an iterable object. That is to say you can quickly call the same function to every item in an iterable, such as a list. For example:

In [1]:
list1 = [1,2,3,4,5,6]

In [2]:
list2 = []

for i in list1:
    list2.append(i**2)
list2

[1, 4, 9, 16, 25, 36]

In [3]:
list2 = [i**2 for i in list1]
list2

[1, 4, 9, 16, 25, 36]

In [4]:
def square(num):
    return num ** 2

In [5]:
list2 = []

for i in list1:
    list2.append(square(i))
    
list2

[1, 4, 9, 16, 25, 36]

In [6]:
def square(num):
    return num ** 2

list1 = [1, 2, 3, 4, 5, 6]

list2 = list(map(square, list1))
list2

[1, 4, 9, 16, 25, 36]

In [8]:
def area(r):
    return 3.14 * r ** 2

list_radius = [10, 15, 20, 30]

list_area = list(map(area, list_radius))
list_area

[314.0, 706.5, 1256.0, 2826.0]

In [9]:
map(area, list_radius)

In [12]:
string_nums = ['1', '2', '3', '10']

int_nums = list(map(int, string_nums))
int_nums

[1, 2, 3, 10]

In [13]:
type(int_nums[0])

int

The functions can also be more complex

## 2) `filter` function

The filter function returns an iterator yielding those items of iterable for which function(item)
is true. Meaning you need to filter by a function that returns either True or False. Then passing that into filter (along with your iterable) and you will get back only the results that would return True when passed to the function.

In [14]:
nums = list(range(11))
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
nums_even = []

for n in nums:
    if n % 2 == 0:
        nums_even.append(n)

nums_even

[0, 2, 4, 6, 8, 10]

In [16]:
nums_even = [i for i in nums if i % 2 == 0]
nums_even

[0, 2, 4, 6, 8, 10]

In [17]:
def is_even(num):
    #     if num % 2 == 0:
    #         return True
    #     else:
    #         return False
    return num % 2 == 0

nums_even = []

for n in nums:
    if is_even(n):
        nums_even.append(n)

nums_even

[0, 2, 4, 6, 8, 10]

In [18]:
nums_even = list(filter(is_even, nums))
nums_even

[0, 2, 4, 6, 8, 10]

In [19]:
def is_prime(num):
    '''
    Naive method of checking for primes
    '''
    if num < 2:
        return False

    for i in range(2, num):
        if num % i == 0:
            return False
    return True

nums = list(range(1, 101))

prime_nums = list(filter(is_prime, nums))
prime_nums

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

## 3) `reduce` function

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

In [20]:
lst = [10,20,30,40,50]

sum_ = 0

for i in lst:
    sum_ += i

sum_

150

In [21]:
def get_sum(nums):
    summ = 0
    for n in nums:
        summ += n
    return summ

get_sum(lst)

150

In [22]:
lst

[10, 20, 30, 40, 50]

In [23]:
from functools import reduce

def calc_sum(a, b):
    return a+b

reduce(calc_sum, lst)

150

In [24]:
from functools import reduce

def calc_mul(a, b):
    return a * b

reduce(calc_mul, lst)

12000000

## Example 1

find from the list the summetion of the cube of odd numbers between 1 & 20

In [27]:
from functools import reduce

nums = list(range(21))

def is_odd(n):
    return n % 2 != 0

def cube_num(n):
    return n ** 3

def calc_sum(a, b):
    return a+b

nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
odd_nums = list(filter(is_odd, nums))
odd_nums

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
odd_cube = list(map(cube_num, odd_nums))
odd_cube

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859]

In [30]:
odd_cube_sum = reduce(calc_sum, odd_cube)
odd_cube_sum

19900

## Example 2

find from the list the max of the cube of square of even numbers between 1 & 20

## 4) lambda expression

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [31]:
def square(num):
    result = num ** 2
    return result

In [32]:
square(2)

4

We could simplify it:

In [33]:
def square(num):
    return num ** 2

In [34]:
square(2)

4

We could actually even write this all on one line.

In [35]:
def square(num): return num ** 2

In [36]:
square(2)

4

This is the form a function that a lambda expression intends to replicate. A lambda expression can then be written as:

In [37]:
lambda num: num ** 2

So why would use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression. Let's repeat some of the examples from above with a lambda expression

In [42]:
nums = [10,20,30,40,50]
list(map(lambda num: num ** 2, nums))

[100, 400, 900, 1600, 2500]

In [43]:
nums = [10,20,30,40,50]
list(map(lambda num: num + num, nums))

[20, 40, 60, 80, 100]

In [39]:
nums = [1,2,3,4,5,6,7]
list(filter(lambda num: num % 2 == 0, nums))

[2, 4, 6]

In [40]:
reduce(lambda a,b: a+b, nums)

28

In [41]:
reduce(lambda a,b: a*b, nums)

5040

# Example using Lambda function

In [44]:
# Sum of cube of odd numbers between 1 and 20
from functools import reduce

nums = list(range(1, 21))

odd_nums = list(filter(lambda n: n%2 != 0, nums))
odd_cube = list(map(lambda n: n ** 3, odd_nums))
odd_cube_sum = reduce(lambda a,b: a+b, odd_cube)

odd_cube_sum

19900

Here are a few more examples, keep in mind the more comples a function is, the harder it is to translate into a lambda expression, meaning sometimes its just easier (and often the only way) to create the def keyword function.

**Lambda expression for grabbing the first character of a string:**

In [ ]:
lambda word: word[0]

# def get_first(word):
#     return word[0]

**Lambda expression for reversing a string:**

In [ ]:
# str[::-1]
lambda word: word[::-1]

You will find yourself using lambda expressions often with certain non-built-in libraries, for example the pandas library for data analysis works very well with lambda expressions.

# Great Work!