# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this lecture, let's begin!

## Table of Contents
1. range
2. enumerate
3. zip
4. in operator

## 1) range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [2]:
range(11)

range(0, 11)

In [1]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(20, 31))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [4]:
list(range(20, 31, 2))  # range(start, stop, step)

[20, 22, 24, 26, 28, 30]

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory. We haven't talked about functions or generators yet, so just keep this in your notes for now, we will discuss this in much more detail in later on in your training!

## 2) enumerate

enumerate is a very useful function to use with for loops.

In [6]:
list1 = [30, 40, 50 ,60]
list1

[30, 40, 50, 60]

In [7]:
list(enumerate(list1)) # Adds index next to the elemnts

[(0, 30), (1, 40), (2, 50), (3, 60)]

In [8]:
enumerate(list1)

In [9]:
list(enumerate("abcde"))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [10]:
# We can set the start value
list(enumerate("abcde", 5))

[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd'), (9, 'e')]

In [11]:
for index, letter in enumerate('abcde'):
    print(f'Index: {index} is Value: {letter}')

Index: 0 is Value: a
Index: 1 is Value: b
Index: 2 is Value: c
Index: 3 is Value: d
Index: 4 is Value: e

## 3) zip

You can use the **zip()** function to quickly create a list of tuples by "zipping" up together two lists.

In [12]:
list1 = [10, 20, 30, 40, 50, 60]
list2 = ['John', 'Ahmed', 'Mohamed', 'Omar', 'Hatem', 'Hussien']

In [13]:
list(zip(list1, list2))

[(10, 'John'),
 (20, 'Ahmed'),
 (30, 'Mohamed'),
 (40, 'Omar'),
 (50, 'Hatem'),
 (60, 'Hussien')]

To use the generator, we could just use a for loop

In [14]:
for value, name in zip(list1, list2):
    print(f'{name} has Salary of {value}')

John has Salary of 10
Ahmed has Salary of 20
Mohamed has Salary of 30
Omar has Salary of 40
Hatem has Salary of 50
Hussien has Salary of 60

In [17]:
x = [2, 7, 3, 5]
y = [10, 30, 40, 100, 200]
list(zip(x,y))

[(2, 10), (7, 30), (3, 40), (5, 100)]

In [16]:
for n1, n2 in zip(x, y):
    print(n1 * n2)

20
210
120
500

we can zip more than 2 lists

In [18]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c','d','e']
list3 = [10,20,30,40,50]

list(zip(list1, list2, list3))

[(1, 'a', 10), (2, 'b', 20), (3, 'c', 30), (4, 'd', 40), (5, 'e', 50)]

In [19]:
for v1, v2, v3 in zip(list1, list2, list3):
    print(f"v1:{v1}, v2:{v2}, v3:{v3}")

v1:1, v2:a, v3:10
v1:2, v2:b, v3:20
v1:3, v2:c, v3:30
v1:4, v2:d, v3:40
v1:5, v2:e, v3:50

## 4) in operator

We've already seen the **in** keyword durng the for loop, but we can also use it to quickly check if an object is in a list

In [20]:
'x' in ['x','y','z']

True

In [21]:
'x' not in ['x','y','z']

False

In [22]:
'x' in 'xavier'

True

In [23]:
'x' in 'ahmed'

False

In [24]:
5 in [1,2,3]

False

In [25]:
5 in [1,2,3,5]

True

In [26]:
5 in (1,2,3)

False

In [27]:
'name' in {'name':'Omar', 'age':60}

True

In [28]:
60 in {'name':'Omar', 'age':60}

False

In [29]:
60 in {'name':'Omar', 'age':60}.values()

True

In [30]:
if 15 in range(10):
    print("Yes")
else:
    print("No")

No

# Great Work!