# List Comprehensions

In [1]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**old way**

In [2]:
# The old way - ugly
new_list = []

for i in range(11):
    new_list.append(i ** 2)

new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**new way using List Comprehension**

In [4]:
# Neat - simple
new_list = [i ** 2 for i in range(11)]
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensions

In addition to sequence operations and list methods, Python includes a more advanced operation called a list comprehension.

List comprehensions allow us to build out lists using a different notation. You can think of it as essentially a one line <code>for</code> loop built inside of brackets. For a simple example:
## Example 1

In [5]:
'abcd'
list1 = [x for x in 'abcd']
list1

['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

['a', 'b', 'c', 'd']

In [6]:
list1 = [x*2 for x in 'abcd']
list1

['aa', 'bb', 'cc', 'dd']

['aa', 'bb', 'cc', 'dd']

['aa', 'bb', 'cc', 'dd']

In [8]:
list1 = [x.upper() for x in 'abcd']
list1

['A', 'B', 'C', 'D']

['A', 'B', 'C', 'D']

['A', 'B', 'C', 'D']

Let's see a few more examples of list comprehensions in Python:
## Example 2

In [7]:
# 2i + i^2
lst = [2*i+i**2 for i in range(11)]
lst

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

[0, 3, 8, 15, 24, 35, 48, 63, 80, 99, 120]

## Example 3
Let's see how to add in <code>if</code> statements:

In [11]:
# Get even numbers in range
lst = [i for i in range(11) if i % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

[0, 2, 4, 6, 8, 10]

[0, 2, 4, 6, 8, 10]

In [13]:
i = 10
x = (i) if i < 5 else (i * 2) 
x

20

20

20

## Example 4
Let's see how to add in <code>if else</code> statements:

In [15]:
# Check for even numbers
lst = [i**2 if i%2 == 0 else i**3 for i in range(11)] # if statament comes before for if there is else
lst

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

## Example 5
Can also do more complicated arithmetic:

In [16]:
# Convert celsius to fahrenheit
celsius = [0, 10, 20.5, 34.6]

fahrenheit = [((9/5)*temp+32) for temp in celsius]
fahrenheit

[32.0, 50.0, 68.9, 94.28]

[32.0, 50.0, 68.9, 94.28]

[32.0, 50.0, 68.9, 94.28]

## Example 6
Can also use Dictionary Comprehensions:

In [17]:
names = ['Ahmed', 'Omar', 'Hussien']
ages = [21, 22, 22]

list(zip(names, ages))

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

In [18]:
# Old way - ugly
users = {}

for name, age in zip(names, ages):
    users[name] = age

users

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

In [20]:
# New way - neat and simple
new_users = {name:age for name, age in zip(names, ages)}
new_users

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

reverse key and value

In [21]:
users

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

{'Ahmed': 21, 'Omar': 22, 'Hussien': 22}

In [25]:
list(users.items())

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

[('Ahmed', 21), ('Omar', 22), ('Hussien', 22)]

In [26]:
users2 = {value:key for key, value in users.items()}
users2

{21: 'Ahmed', 22: 'Hussien'}

{21: 'Ahmed', 22: 'Hussien'}

{21: 'Ahmed', 22: 'Hussien'}

# Great Work!