# Python Revision

<img src="img.png" width=600 height=400 />

> **This notebook is your go-to resource for a condensed summary of a Python course. It includes the essential building blocks of Python, Object-Oriented Programming (OOP) principles, data structures, and the integration of SQLite with Python. It's designed to provide a clear and concise overview of these core Python concepts.**

## What is python ?

* Programming language that can do anything
* Free and open resource
* Interpreted
* Interactive

## Why python ?

* Easy to install
* Clean and easy
* Error Handling
* Debugging is easy ( Debugger created with python )
* Cross platform
* Expressive
* OOP
* Integrated
* Support module and packages
* Large set of libraries and plugins
* Memory Management
* Multi purpose
* Great Community
* Growing fast
* You can switch careers with the basic knowledge

## 1. Comments

<img src="Why-learn-Python--14-.png" width=600 height=400 />

**Comments in Python serve several important purposes:**
* **Documentation**: Comments are used to provide explanations and documentation within your code. They help you and other developers understand the code's logic and purpose, making it easier to maintain and modify in the future.
* **Clarity**: Comments enhance code readability. They can clarify complex or obscure sections of code, making it easier for both you and others to follow the code's flow.
* **Disable Code**: Sometimes, you might want to temporarily disable a piece of code without deleting it. Commenting out that code allows you to do this effectively.
* **TODOs and Reminders**: Comments are a handy way to leave notes for yourself or your team about tasks that need to be completed or issues that need to be addressed. Many developers use comments with "TODO" or "FIXME" to mark such points.
* **Explanation of Design Choices**: Comments can provide insights into why a particular design or implementation choice was made. This is especially useful when collaborating on a project or revisiting your own code after a long period.

In [1]:
# -------------------------------
# Informations About File
# License
# Who Created The File
# When The File Created
# Why The File Created
# Write Beside The Programming Line
# Write Before The Programming Line
# Prevent Code From Run
# -------------------------------

# This is Comment
print("Studyig python for Data Science")  # This is Inline Comment
print("Machine Learning")  # I Used This Method Because of Bla Bla Bla
print("Programming")  # If You Used Test Method Will Through Error

"""
This is
Not
Multiple
Line
Comments
"""

Studyig python for Data Science
Machine Learning
Programming

'\nThis is\nNot\nMultiple\nLine\nComments\n'

## Dealing With Data
* Our apps contain code + data
* Code is the lines you write to manage and deal with this data
* To structure the data we need to categorize [ num, string, booleans ]
* Num => Students age, Students phone number, teachers salary
* String => Students name, Teacher name, Events name
* Boolean => Teacher got salary or not, Students age is suitable or not
* Data is stored in computer memory
* We use variable to refer to this data
* Variables not containing the data its only refer to its location on the memory
* Code is using the data to perform operations ( Add, Edit, Delete )

#### All data in python is object
**type()** ==> function is used to determine the data type of an object or value. It is a built-in function that helps you identify whether a variable holds an integer, string, list, dictionary, or another data type. This can be useful for debugging and conditional logic in your code.

In [2]:
print(type(10))  # int => Integer
print(type(100))  # int => Integer
print(type(-50))  # int => Integer

print(type(100.9))  # float => Floating Point Number
print(type(1.950950))  # float => Floating Point Number
print(type(-100.9595))  # float => Floating Point Number

print(type("Hello Python"))  # str => String

print(type([1, 2, 3, 4, 5]))  # list => List

print(type((1, 2, 3, 4, 5)))  # tuple => Tuple

print(type({"One": 1, "Two": 2, "Three": 3}))  # dict => Dictionary

print(type(2 == 2))  # bool => Boolean

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>

## 2. Variables

<img src="variable_value.png" width=600 height=400 />

#### In Python, variable names must adhere to specific naming conventions and rules to ensure code clarity and consistency. Here are the key guidelines for naming variables in Python:
* **Variable Names:** Should be descriptive and reflect the purpose or content of the variable. Should be in English and use meaningful words.
* **Case Sensitivity:** Python is case-sensitive, so variable names like myVariable and myvariable are considered different.
* **Reserved Words:** Avoid using Python's reserved words (keywords) as variable names. Examples of reserved words include if, else, for, while, and import.
* **Convention:** Use lowercase for variable names, separated by underscores for readability (e.g., my_variable).Use uppercase letters to denote constants (e.g., PI = 3.1415).  For class names, use CamelCase (e.g., MyClass).
* **Clarity:** Choose variable names that are meaningful and concise to make your code more understandable. For example, use count instead of 'c', and user_input instead of 'ui'.

In [3]:
# --------------------------------------
# -- Variables --
# ---------------
# Syntax => [Variable Name] [Assignment Operator] [Value]
#
# Name Convention and Rules
# [1] Can Start With (a-z A-Z) Or Underscore
# [2] You Cannot With Num Or Special Characters
# [3] Can Include (0-9) Or Underscore
# [4] Cannot Include Special Characters
# [5] Name is Not Like name [ Case Sensitive ]
# --------------------------------------

name = "Shorouk Eldeep"  # Single Word => Normal
myName = "Shorouk Eldeep"  # Two Words => camelCase
my_name = "Shorouk Eldeep"  # Two Words => snake_case

print(name)
print(myName)
print(my_name)

Shorouk Eldeep
Shorouk Eldeep
Shorouk Eldeep

In [4]:
# Good variable names
name = "John"
age = 30
is_student = True

print(name)
print(age)
print(is_student)

John
30
True

In [5]:
# Constants
MAX_VALUE = 100
PI = 3.1415

print(MAX_VALUE)
print(PI)

100
3.1415

In [6]:
# Class names
class StudentRecord:
    pass

Concepts:
- **Source Code** : Original Code You Write it in Computer
- **Translation** : Converting Source Code Into Machine Language
- **Compilation** : Translate Code Before Run Time
- **Run-Time** : Period App Take To Executing Commands
- **Interpreted** : Code Translated On The Fly During Execution

#### Escape sequences
- **\\\**- Backslash:
Represents a single backslash character.

- **\\'** - Single Quote:
Represents a single quote character within a single-quoted string.

- **\\"** - Double Quote:
Represents a double quote character within a double-quoted string.

- **\n** - Newline:
Represents a newline character, causing text to start on a new line.

- **\t** - Tab:
Represents a horizontal tab character, creating an indentation in the text.

- **\r** - Carriage Return:
Represents a carriage return character, typically used to return to the beginning of the line.

- **\b** - Backspace:
Represents a backspace character, which moves the cursor one position to the left.

In [7]:
# Back Space
print("Hello\bWorld")  # Will Remove o

# Escape New Line + Back Slash
print("Hello \
I Love \
Python")

# Escape Back Slash
print("I Love Back Slash \\")

# Escape Single Quote
print('I Love Single Quote \'Test\' ')

# Escape Double Quotes
print("I Love Double Quotes \"Test\" ")

# Line Feed
print("Hello World\nSecond Line")

# Carriage Return
print("123456\rAbcde")

# Horizontal Tab
print("Hello\tPython")

HelloWorld
Hello I Love Python
I Love Back Slash \
I Love Single Quote 'Test'
I Love Double Quotes "Test"
Hello World
Second Line
Abcde
Hello	Python

### 2.1. Strings

<img src="imggg.png" width=600 height=400 />

* **Creating Strings**: You can create strings using single (' '), double (" "), or triple (''' ' ''') quotes. For example:

In [8]:
single_quoted = 'Hello, World!'
double_quoted = "Hello, World!"
triple_quoted = '''This is a multi-line string.
It can span multiple lines.'''

print(single_quoted)
print(double_quoted)
print(triple_quoted)

Hello, World!
Hello, World!
This is a multi-line string.
It can span multiple lines.

* **String Concatenation**: You can concatenate strings using the + operator:

In [9]:
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name

print(message)

Hello, Alice

#### Strings Indexing & Slicing

* **[1]** All Data in Python is Object
* **[2]** Object Contain Elements
* **[3]** Every Element Has Its Own Index
* **[4]** Python Use Zero Based Indexing ( Index Start From Zero )
* **[5]** Use Square Brackets To Access Element
* **[6]** Enable Accessing Parts Of Strings, Tuples or Lists

In [10]:
# Indexing ( Access Single Item )

myString = "I Love Python"

print(myString[0])  # Index 0 => I
print(myString[9])  # Index 9 => t

print(myString[-1])  # Index -1 => First Character From End
print(myString[-6])  # Index -6 => 6th Character From End

I
t
n
P

In [11]:
# Slicing ( Access Multiple Sequence Items )
# [Start:End] End Not Included
# [Start:End:Steps]

print(myString[8:11])  # yth
print(myString[3:5])  # ov

print(myString[:10])  # If Start Is Not Here Will Start From 0 (I Love Pyt)
print(myString[5:])  # If End Is Not Here Will Go To The End (e Python)
print(myString[:])  # Full Data

print(myString[0::1])  # Full Data
print(myString[::1])  # Full Data

print(myString[::2])
print(myString[::3])

yth
ov
I Love Pyt
e Python
I Love Python
I Love Python
I Love Python
ILv yhn
Io tn

#### String Methods

* **strip()** : This method removes whitespace characters from both the beginning and end of a string. It returns a new string with leading and trailing whitespace removed. The original string is not modified.

In [12]:
text = "  This is a string with leading and trailing spaces.  "
cleaned_text = text.strip()
print(cleaned_text)  # "This is a string with leading and trailing spaces."

This is a string with leading and trailing spaces.

* **rstrip()** : This method removes whitespace characters (or other specified characters) only from the end (right side) of the string. It returns a new string with trailing whitespace removed.

In [13]:
text = "  This is a string with trailing spaces.  "
cleaned_text = text.rstrip()
print(cleaned_text)  # "  This is a string with trailing spaces."

  This is a string with trailing spaces.

* **lstrip()** : This method removes whitespace characters (or other specified characters) only from the beginning (left side) of the string. It returns a new string with leading whitespace removed.

In [14]:
text = "  This is a string with leading spaces.  "
cleaned_text = text.lstrip()
print(cleaned_text)  # "This is a string with leading spaces.  "

This is a string with leading spaces.

These methods are useful for cleaning up user input, file content, or any situation where you need to eliminate unwanted whitespace characters from a string. They can also be used with specific characters as arguments to remove characters other than whitespace from the string. For example, you can use strip('/') to remove forward slashes from the beginning and end of a string.

* **title()** : is a string method used to convert a string into a titlecased version. Titlecased strings are where the first character of each word is capitalized, while the rest of the characters in the word are in lowercase. Words are typically separated by spaces.

In [15]:
text = "this is a sample string"
title_text = text.title()
print(title_text)  # "This Is A Sample String"

This Is A Sample String

* **capitalize()** : is a string method used to capitalize the first character of a string and convert the rest of the characters in the string to lowercase. It effectively turns the first character of the string into an uppercase letter and the remaining characters into lowercase.

In [16]:
text = "this is a sample string"
capitalized_text = text.capitalize()
print(capitalized_text)  # "This is a sample string"

This is a sample string

* **zfill()** : is used to pad a numeric string with zeros (0) to a specified width. This method is commonly used when you want to ensure that a numeric string has a certain minimum width, often for formatting purposes.

**string.zfill(width)**
* **string** is the original string to which you want to add leading zeros.
* **width** is the minimum width of the resulting string. The function will pad the original string with zeros on the left (if needed) to make it at least this wide.

In [17]:
number = "42"
padded_number = number.zfill(5)
print(padded_number)  # "00042"

00042

* **upper()** : is used to convert all the characters in a string to uppercase. It returns a new string with all the alphabetic characters in the original string converted to their uppercase equivalents, while leaving non-alphabetic characters unchanged.

In [18]:
text = "This is a sample string"
uppercase_text = text.upper()
print(uppercase_text)  # "THIS IS A SAMPLE STRING"

THIS IS A SAMPLE STRING

* **lower()** : is used to convert all the characters in a string to lowercase. It returns a new string with all the alphabetic characters in the original string converted to their lowercase equivalents, while leaving non-alphabetic characters unchanged.

In [19]:
text = "This is a Sample String"
lowercase_text = text.lower()
print(lowercase_text)  # "this is a sample string"

this is a sample string

* **index()** : is used to find the index of the first occurrence of a specified substring (or subsequence) within a string. This method is commonly used to search for a substring and determine its position within the string.

**string.index(substring, start, end)**
* **string** is the original string in which you want to search for the substring.
* **substring** is the string you're searching for within the original string.
* **start (optional)** is the index in the original string where the search will start. The default is 0.
* **end (optional)** is the index in the original string where the search will end. The search will not go beyond this index. If not specified, it searches to the end of the string.

In [20]:
text = "This is a sample string with some words in it."
substring = "sample"
index = text.index(substring)
print("The substring is found at index:", index)  # 10

The substring is found at index: 10

* **find()** : is used to find the index of the first occurrence of a specified substring (or subsequence) within a string. It is similar to the index() method, but unlike index(), find() does not raise an exception if the substring is not found. Instead, it returns -1 to indicate that the substring is not present in the string.

**string.find(substring, start, end)**
* **string** is the original string in which you want to search for the substring.
* **substring** is the string you're searching for within the original string.
* **start** (optional) is the index in the original string where the search will start. The default is 0.
* **end** (optional) is the index in the original string where the search will end. The search will not go beyond this index. If not specified, it searches to the end of the string.

In [21]:
text = "This is a sample string with some words in it."
substring = "sample"
index = text.find(substring)
print("The substring is found at index:", index)  # 10

substring_not_found = "missing"
index_not_found = text.find(substring_not_found)
print("The substring is not found; index is:", index_not_found)  # -1

The substring is found at index: 10
The substring is not found; index is: -1

* **rjust()** : stands for "right justify.". It right-aligns the string within a field of the given width. Any extra space on the left is filled with the specified fill character (which is optional and defaults to a space if not provided). The original string remains unchanged, and a new string is returned.

In [22]:
text = "Hello"
right_justified = text.rjust(10, "*")
print(right_justified)  # "*****Hello"

*****Hello

* **ljust()** : stands for "left justify.". It left-aligns the string within a field of the given width. Any extra space on the right is filled with the specified fill character (which is optional and defaults to a space if not provided). The original string remains unchanged, and a new string is returned.

In [23]:
text = "Hello"
left_justified = text.ljust(10, "*")
print(left_justified)  # "Hello*****"

Hello*****

* **splitlines()** : is used to split a string into a list of lines, where each line is determined by the line breaks in the original string. It's particularly useful when dealing with text data that has multiple lines, such as reading and processing text files.

In [24]:
text = "Line 1\nLine 2\rLine 3\r\nLine 4"
lines = text.splitlines()
print(lines)

['Line 1', 'Line 2', 'Line 3', 'Line 4']

You can also use the keepends parameter to include line break characters at the end of each line in the result. By default, keepends is set to False, which means line break characters are not included. If you set it to True, line break characters will be retained in the lines.

In [25]:
text = "Line 1\nLine 2\rLine 3\r\nLine 4"
lines_with_linebreaks = text.splitlines(keepends=True)
print(lines_with_linebreaks)

['Line 1\n', 'Line 2\r', 'Line 3\r\n', 'Line 4']

* **expandtabs()** : is used to replace tab characters ('\t') in a string with a specified number of spaces. It's often used to format text that contains tab characters, align text within a specific tabular structure, or ensure consistent spacing in text.

**string.expandtabs(tabsize)**
* **string** is the original string containing tab characters.
* **tabsize (optional)** is the number of spaces to replace each tab character with. If not provided, it defaults to 8 spaces.

In [26]:
text = "Hello\tworld\tfrom\tPython"
expanded_text = text.expandtabs(4)
print(expanded_text)

Hello   world   from    Python

* **split()** : This method splits the string from left to right (from the beginning to the end) based on a specified delimiter. By default, it splits the string using whitespace as the delimiter, but you can provide a custom delimiter as an argument.

**string.split([separator[, maxsplit]])**
* **string:** The original string to be split.
* **separator (optional):** The delimiter used to split the string. If not provided, it defaults to whitespace.
* **maxsplit (optional):** The maximum number of splits to perform. If specified, the string will be split into at most maxsplit + 1 parts. If not provided, there is no maximum limit.

In [27]:
text = "apple,banana,cherry,dates"
fruits = text.split(',')
print(fruits)  # ['apple', 'banana', 'cherry', 'dates']

['apple', 'banana', 'cherry', 'dates']

* **rsplit()** : This method splits the string from right to left (from the end to the beginning) based on a specified delimiter. Like split(), it can also be provided with a custom delimiter and an optional maxsplit argument.

**string.rsplit([separator[, maxsplit]])**
* **string:** The original string to be split.
* **separator (optional):** The delimiter used to split the string. If not provided, it defaults to whitespace.
* **maxsplit (optional):** The maximum number of splits to perform, but the splits occur from the end of the string. If not provided, there is no maximum limit.

In [28]:
text = "apple,banana,cherry,dates"
fruits = text.rsplit(',', 2)
print(fruits)  # ['apple,banana', 'cherry', 'dates']

['apple,banana', 'cherry', 'dates']

* **center()** : method is used to center-align a string within a specified width by adding padding characters (usually spaces) on both sides of the string. This is often used to format text within a fixed-width field or to create visually appealing output with text centered within a block.

**string.center(width[, fillchar])**
* **string** is the original string that you want to center.
* **width** is the total width of the resulting centered string, including the original string and any padding.
* **fillchar (optional)** is the character used for padding. It defaults to a space if not provided.

In [29]:
text = "Python"
centered_text = text.center(12, '*')
print(centered_text)

***Python***

* **count()** : method is used to count the number of non-overlapping occurrences of a substring within a string. It searches for the specified substring in the original string and returns the count of how many times it appears.

**string.count(substring, start, end)**
* **string** is the original string in which you want to count occurrences.
* **substring** is the string you're searching for within the original string.
* **start (optional)** is the index in the original string where the search will start. The default is 0.
* **end (optional)** is the index in the original string where the search will end. The search will not go beyond this index. If not specified, it searches to the end of the string.

In [30]:
text = "The quick brown fox jumps over the lazy dog. The dog is quick."
count = text.count("quick")
print("The substring 'quick' appears", count, "times.")

The substring 'quick' appears 2 times.

* **swapcase()** : method is used to create a new string where the case of all alphabetic characters in the original string is swapped. That is, lowercase characters are converted to uppercase, and uppercase characters are converted to lowercase. Non-alphabetic characters in the string remain unchanged.

In [31]:
text = "Hello, World!"
swapped_text = text.swapcase()
print(swapped_text)

hELLO, wORLD!

* **replace()** : method is used to create a new string by replacing all occurrences of a specified "old" substring with a "new" substring within the original string. You can also provide an optional count parameter to limit the number of replacements made. This method does not modify the original string but returns a new string with the replacements.

**string.replace(old, new, count)**
* **string:** The original string in which you want to make replacements.
* **old:** The substring you want to replace within the original string.
* **new:** The substring that will replace occurrences of the "old" substring.
* **count (optional):** The maximum number of replacements to make. If not specified, all occurrences of the "old" substring are replaced.

In [32]:
text = "This is an example. This example is for demonstration."
modified_text = text.replace("example", "sample")
print(modified_text)

This is an sample. This sample is for demonstration.

In [33]:
text = "This is an example. This example is for demonstration."
modified_text = text.replace("example", "sample", 1)
print(modified_text)

This is an sample. This example is for demonstration.

* **join()** : method is used to concatenate a sequence (an iterable) of strings, typically a list, tuple, or any other iterable, with a specified separator string. This method creates a new string by joining the elements of the iterable together, separated by the provided separator.

**separator.join(iterable)**
* **separator** is the string that you want to use as a separator to insert between the elements of the iterable.
* **iterable** is the sequence of strings that you want to concatenate together.

In [34]:
words = ["This", "is", "a", "list", "of", "words"]
sentence = " ".join(words)
print(sentence)

This is a list of words

In [35]:
words = ["apple", "banana", "cherry"]
combined = "".join(words)
print(combined)  # "applebananacherry"

applebananacherry

### Strings Formatting

String formatting is used to create human-readable and well-structured strings. It allows you to combine text, variables, and expressions in a way that is easy to read and understand.

In [36]:
name = "Osama"
age = 36
rank = 10

print("My Name is: " + name)
# print("My Name is: " + name + " and My Age is: " + age)  # Type Error

My Name is: Osama

In [37]:
print("My Name is: %s" % "Osama")
print("My Name is: %s" % name)
print("My Name is: %s and My Age is: %d" % (name, age))
print("My Name is: %s and My Age is: %d and My Rank is: %f" % (name, age, rank))

My Name is: Osama
My Name is: Osama
My Name is: Osama and My Age is: 36
My Name is: Osama and My Age is: 36 and My Rank is: 10.000000

* **%s** => String
* **%d** => Number
* **%f** => Float

In [38]:
name = "Osama"
major = "Python"
experience = 10

print("My Name is %s Iam a %s Developer With %d Years Exp" % (name, major, experience))

My Name is Osama Iam a Python Developer With 10 Years Exp

In [39]:
# Control Floating Point Number

myNumber = 10
print("My Number is: %d" % myNumber)
print("My Number is: %f" % myNumber)
print("My Number is: %.2f" % myNumber)

My Number is: 10
My Number is: 10.000000
My Number is: 10.00

In [40]:
# Truncate String

myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is %s" % myLongString)
print("Message is %.5s" % myLongString)

Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello

**String formatting using str.format()**

In [41]:
name = "Osama"
age = 36
rank = 10

print("My Name is: {}".format("Osama"))
print("My Name is: {}".format(name))
print("My Name is: {} My Age: {}".format(name, age))
print("My Name is: {:s} Age: {:d} & Rank is: {:f}".format(name, age, rank))

My Name is: Osama
My Name is: Osama
My Name is: Osama My Age: 36
My Name is: Osama Age: 36 & Rank is: 10.000000

* **{:s}** => String
* **{:d}** => Number
* **{:f}** => Float

In [42]:
name = "Osama"
major = "Python"
experience = 10

print("My Name is {} Iam {} Developer With {:d} Years Exp".format(name, major, experience))

My Name is Osama Iam Python Developer With 10 Years Exp

In [43]:
# Control Floating Point Number

myNumber = 10
print("My Number is: {:d}".format(myNumber))
print("My Number is: {:f}".format(myNumber))
print("My Number is: {:.2f}".format(myNumber))

My Number is: 10
My Number is: 10.000000
My Number is: 10.00

In [44]:
# Truncate String

myLongString = "Hello Peoples of Elzero Web School I Love You All"
print("Message is {}".format(myLongString))
print("Message is {:.5s}".format(myLongString))
print("Message is {:.13s}".format(myLongString))

Message is Hello Peoples of Elzero Web School I Love You All
Message is Hello
Message is Hello Peoples

In [45]:
# Format Money

myMoney = 500162350198

print("My Money in Bank Is: {:d}".format(myMoney))
print("My Money in Bank Is: {:_d}".format(myMoney))
print("My Money in Bank Is: {:,d}".format(myMoney))

My Money in Bank Is: 500162350198
My Money in Bank Is: 500_162_350_198
My Money in Bank Is: 500,162,350,198

In [46]:
# ReArrange Items

a, b, c = "One", "Two", "Three"
print("Hello {} {} {}".format(a, b, c))  # Hello One Two Three
print("Hello {1} {2} {0}".format(a, b, c))  # Hello Two Three One
print("Hello {2} {0} {1}".format(a, b, c))  # Hello Three One Two

Hello One Two Three
Hello Two Three One
Hello Three One Two

In [47]:
x, y, z = 10, 20, 30
print("Hello {} {} {}".format(x, y, z))
print("Hello {1:d} {2:d} {0:d}".format(x, y, z))
print("Hello {2:f} {0:f} {1:f}".format(x, y, z))
print("Hello {2:.2f} {0:.4f} {1:.5f}".format(x, y, z))

Hello 10 20 30
Hello 20 30 10
Hello 30.000000 10.000000 20.000000
Hello 30.00 10.0000 20.00000

In [48]:
# Format in Version 3.6+

myName = "Osama"
myAge = 36

print("My Name is : {myName} and My Age is : {myAge}")
print(f"My Name is : {myName} and My Age is : {myAge}")

My Name is : {myName} and My Age is : {myAge}
My Name is : Osama and My Age is : 36

[String Formatting Resource](https://pyformat.info/#number)

### 2.2. Numbers

**Integer**

In [49]:
print(type(1))
print(type(100))
print(type(10))
print(type(-10))
print(type(-110))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

**Float**

In [50]:
print(type(1.500))
print(type(100.99))
print(type(-10.99))
print(type(0.99))
print(type(-0.99))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

In [51]:
myComplexNumber = 5+6j

print(type(myComplexNumber))

print("Real Part Is: {}".format(myComplexNumber.real))
print("Imaginary Part Is: {}".format(myComplexNumber.imag))

<class 'complex'>
Real Part Is: 5.0
Imaginary Part Is: 6.0

* **[1]** You Can Convert From Int To Float or Complex
* **[2]** You Can Convert From Float To Int or Complex
* **[3]** You Cannot Convert Complex To Any Type

In [52]:
print(100)
print(float(100))
print(complex(100))

print(10.50)
print(int(10.50))
print(complex(10.50))

100
100.0
(100+0j)
10.5
10
(10.5+0j)

#### Arithmetic Operators

* **[+]** Addition
* **[-]**  Subtraction
* **[*]**  Multiplication
* **[/]**  Division
* **[%]**  Modulus
* **[****]  Exponent
* **[//]**  Floor Division

**Addition**

In [53]:
print(10 + 30)  # 40
print(-10 + 20)  # 10
print(1 + 2.66)  # 3.66
print(1.2 + 1.2)  # 2.4

40
10
3.66
2.4

**Subtraction**

In [54]:
print(60 - 30)  # 30
print(-30 - 20)  # -50
print(-30 - -20)  # -10
print(5.66 - 3.44)  # 2.22

30
-50
-10
2.22

**Multiplication**

In [55]:
print(10 * 3)  # 30
print(5 + 10 * 100)  # 1005
print((5 + 10) * 100)  # 1500

30
1005
1500

**Division**

In [56]:
print(100 / 20)  # 5.0
print(int(100 / 20))  # 5

5.0
5

**Modulus**

In [57]:
print(8 % 2)  # 0
print(9 % 2)  # 1
print(20 % 5)  # 0
print(22 % 5)  # 2

0
1
0
2

**Exponent**

In [58]:
print(2 ** 5)  # 32
print(2 * 2 * 2 * 2 * 2)  # 32
print(5 ** 4)  # 625
print(5 * 5 * 5 * 5)  # 625

32
32
625
625

**Floor Division**

In [59]:
print(100 // 20)  # 5
print(119 // 20)  # 5
print(120 // 20)  # 6
print(140 // 20)  # 7
print(142 // 20)  # 7

5
5
6
7
7

### 2.3. Lists

* **[1]** List Items Are Enclosed in Square Brackets
* **[2]** List Are Ordered, To Use Index To Access Item
* **[3]** List Are Mutable => Add, Delete, Edit
* **[4]** List Items Is Not Unique
* **[5]** List Can Have Different Data Types

In [60]:
myAwesomeList = ["One", "Two", "One", 1, 100.5, True]

print(myAwesomeList)  # Whole List
print(myAwesomeList[1])  # "Two"
print(myAwesomeList[-1])  # True
print(myAwesomeList[-3])  # 1

['One', 'Two', 'One', 1, 100.5, True]
Two
True
1

In [61]:
print(myAwesomeList[1:4])  # ['Two', 'One', 1]
print(myAwesomeList[:4])  # ['One', 'Two', 'One', 1]
print(myAwesomeList[1:])  # ['Two', 'One', 1, 100.5, True]

['Two', 'One', 1]
['One', 'Two', 'One', 1]
['Two', 'One', 1, 100.5, True]

In [62]:
print(myAwesomeList[::1])  # ['One', 'Two', 'One', 1, 100.5, True]
print(myAwesomeList[::2])  # ['One', 'One', 100.5]

print(myAwesomeList)
myAwesomeList[1] = 2
myAwesomeList[-1] = False
myAwesomeList[0:3] = ["A"]
print(myAwesomeList)

['One', 'Two', 'One', 1, 100.5, True]
['One', 'One', 100.5]
['One', 'Two', 'One', 1, 100.5, True]
['A', 1, 100.5, False]

**Lists Methods**

* **append()** : method in Python is used to add an element to the end of a list. It is a commonly used list method and is part of Python's built-in data structures.

**list_name.append(item)**

* **list_name:** The name of the list to which you want to add an element.
* **item:** The item or value you want to append to the end of the list.

In [63]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [64]:
myFriends = ["Osama", "Ahmed", "Sayed"]
myOldFriends = ["Haytham", "Samah", "Ali"]

myFriends.append("Alaa")
myFriends.append(100)
myFriends.append(150.200)
myFriends.append(True)
myFriends.append(myOldFriends)

print(myFriends)
print(myFriends[2])
print(myFriends[6])
print(myFriends[7])
print(myFriends[7][2])

['Osama', 'Ahmed', 'Sayed', 'Alaa', 100, 150.2, True, ['Haytham', 'Samah', 'Ali']]
Sayed
True
['Haytham', 'Samah', 'Ali']
Ali

* **extend()** : method in Python is used to append elements from an iterable (e.g., a list, tuple, string, or another iterable) to the end of an existing list. This method is different from the append() method, which adds a single element to the end of a list. extend() allows you to combine multiple elements from another iterable into your list.

**list_name.extend(iterable)**

* **list_name:** The name of the list you want to extend.
* **iterable:** An iterable (e.g., a list, tuple, string, or another iterable) containing the elements you want to add to the end of the list.

In [65]:
my_list = [1, 2, 3]
additional_items = [4, 5, 6]
my_list.extend(additional_items)
print(my_list)

[1, 2, 3, 4, 5, 6]

* **remove()** : method is used to remove the first occurrence of a specified value from a list. It modifies the list in place.

**list_name.remove(value)**

* **list_name:** The name of the list from which you want to remove an element.
* **value:** The value you want to remove from the list.

In [66]:
my_list = [1, 2, 3, 2, 4]
my_list.remove(2)
print(my_list)

[1, 3, 2, 4]

In [67]:
my_list = [1, 2, 3, 2, 4]

# Check if the value is in the list before removing
value_to_remove = 2
if value_to_remove in my_list:
    my_list.remove(value_to_remove)
else:
    print(f"{value_to_remove} not found in the list")

print(my_list)  # Output: [1, 3, 2, 4]

[1, 3, 2, 4]

* **sort()** : method is used to sort the elements of a list in ascending order. It modifies the original list in place, rather than creating a new sorted list.

**list_name.sort()**
* **list_name:** The name of the list that you want to sort.

In [68]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
my_list.sort()
my_list

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [69]:
my_list.sort(reverse=True)
my_list

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

* **reverse()** : method is used to reverse the order of elements in a list. It modifies the original list in place, rather than creating a new reversed list.

**list_name.reverse()**
* **list_name:** The name of the list that you want to reverse.

In [70]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [71]:
reversed_list = my_list[::-1]
my_list

[5, 4, 3, 2, 1]

In [72]:
my_list = ["apple", "banana", "cherry", "date"]
my_list.reverse()
print(my_list)  # Output: ['date', 'cherry', 'banana', 'apple']

['date', 'cherry', 'banana', 'apple']

* **clear()**: method is used to remove all the elements from a list, effectively emptying the list. It modifies the original list in place.

**list_name.clear()**
* **list_name:** The name of the list that you want to clear.

In [73]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
my_list

[]

* **copy()**: method is used to create a shallow copy of a list. A shallow copy is a new list that contains references to the same elements as the original list. It does not create new copies of the elements themselves.

**new_list = list_name.copy()**

* **list_name:** The name of the list you want to copy.

In [74]:
original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()
copied_list

[1, 2, 3, 4, 5]

In [75]:
copied_list[0] = 100
print(original_list)  # Output: [1, 2, 3, 4, 5]
print(copied_list)   # Output: [100, 2, 3, 4, 5]

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

* **count()** : method is used to count the number of occurrences of a specific element in a list. It allows you to determine how many times a particular value appears in the list.

**count = list_name.count(value)**
* **list_name:** The name of the list in which you want to count occurrences.
* **value:** The element whose occurrences you want to count.

In [76]:
my_list = [1, 2, 3, 2, 4, 2, 5, 2]
count_of_twos = my_list.count(2)
count_of_twos

4

In [77]:
fruits = ["apple", "banana", "cherry", "apple", "date"]
count_of_apples = fruits.count("apple")
print(count_of_apples)  # Output: 2

2

* **index()** : method is used to find the index (position) of the first occurrence of a specific element in a list. It allows you to determine where a particular value is located within the list.

**index = list_name.index(value)**
* **list_name:** The name of the list in which you want to find the index.
* **value:** The element whose index you want to locate.

In [78]:
my_list = [1, 2, 3, 2, 4, 2, 5]
index_of_2 = my_list.index(2)
index_of_2

1

**index = list_name.index(value, start, end)**
* **start (optional):** The index to start the search from (inclusive).
* **end (optional):** The index to end the search at (exclusive).

In [79]:
my_list = [1, 2, 3, 2, 4, 2, 5]
index_of_2 = my_list.index(2, 2, 6)
index_of_2

3

* **insert()** : method is used to insert an element at a specified position (index) in a list. It allows you to add an element at a specific location within the list.

**list_name.insert(index, element)**
* **list_name:** The name of the list in which you want to insert an element.
* **index:** The index (position) at which you want to insert the element.
* **element:** The element you want to insert into the list.

In [80]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 99)
my_list

[1, 2, 99, 3, 4, 5]

In [81]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'banana', 'cherry']

* **pop()** : method is used to remove and return the element at a specified index from a list. The pop() method takes an optional index as an argument, and it removes the element at that index, returning the removed value. If no index is specified, it removes and returns the last element in the list.

**value = list_name.pop(index)**
* **list_name:** The name of the list from which you want to remove and return an element.
* **index (optional):** The index of the element you want to remove. If not provided, the last element is removed.

In [82]:
my_list = [1, 2, 3, 4, 5]
value = my_list.pop()
value

5

In [83]:
my_list = [1, 2, 3, 4, 5]
value = my_list.pop(2)
value

3

### 2.4. Tuple

* **[1]** Tuple Items Are Enclosed in Parentheses
* **[2]** You Can Remove The Parentheses If You Want
* **[3]** Tuple Are Ordered, To Use Index To Access Item
* **[4]** Tuple Are Immutable => You Cant Add or Delete
* **[5]** Tuple Items Is Not Unique
* **[6]** Tuple Can Have Different Data Types
* **[7]** Operators Used in Strings and Lists Available In Tuples

In [84]:
# Tuple Syntax & Type Test

myAwesomeTupleOne = ("Osama", "Ahmed")
myAwesomeTupleTwo = "Osama", "Ahmed"

print(myAwesomeTupleOne)
print(myAwesomeTupleTwo)

print(type(myAwesomeTupleOne))
print(type(myAwesomeTupleTwo))

('Osama', 'Ahmed')
('Osama', 'Ahmed')
<class 'tuple'>
<class 'tuple'>

In [85]:
# Tuple Indexing

myAwesomeTupleThree = (1, 2, 3, 4, 5)
print(myAwesomeTupleThree[0])
print(myAwesomeTupleThree[-1])
print(myAwesomeTupleThree[-3])

1
5
3

In [86]:
# Tuple Assign Values

myAwesomeTupleFour = (1, 2, 3, 4, 5)
# myAwesomeTupleFour[2] = "Three"
# print(myAwesomeTupleFour)  # 'tuple' object does not support item assignment

In [87]:
# Tuple Data

myAwesomeTupleFive = ("Osama", "Osama", 1, 2, 3, 100.5, True)
print(myAwesomeTupleFive[1])
print(myAwesomeTupleFive[-1])

Osama
True

In [88]:
# Tuple With One Element

myTuple1 = ("Osama",)
myTuple2 = "Osama",

print(myTuple1)
print(myTuple2)

print(type(myTuple1))
print(type(myTuple2))

print(len(myTuple1))
print(len(myTuple2))

('Osama',)
('Osama',)
<class 'tuple'>
<class 'tuple'>
1
1

In [89]:
# Tuple Concatenation

a = (1, 2, 3, 4)
b = (5, 6)

c = a + b
d = a + ("A", "B", True) + b

print(c)
print(d)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 'A', 'B', True, 5, 6)

In [90]:
# Tuple, List, String Repeat (*)

myString = "Osama"
myList = [1, 2]
myTuple = ("A", "B")

print(myString * 6)
print(myList * 6)
print(myTuple * 6)

OsamaOsamaOsamaOsamaOsamaOsama
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [91]:
# Methods => count()

a = (1, 3, 7, 8, 2, 6, 5, 8)
print(a.count(8))

2

In [92]:
# Methods => index()

b = (1, 3, 7, 8, 2, 6, 5)
# print("The Position of Index Is: " + b.index(7))  # Error
print("The Position of Index Is: {:d}".format(b.index(7)))
print(f"The Position of Index Is: {b.index(7)}")

The Position of Index Is: 2
The Position of Index Is: 2

In [93]:
# Tuple Destruct

a = ("A", "B", 4, "C")

x, y, _, z = a

print(x)
print(y)
print(z)

A
B
C

### 2.5. Set

* **[1]** Set Items Are Enclosed in Curly Braces
* **[2]** Set Items Are Not Ordered And Not Indexed
* **[3]** Set Indexing and Slicing Cant Be Done
* **[4]** Set Has Only Immutable Data Types (Numbers, Strings, Tuples) List and Dict Are Not
* **[5]** Set Items Is Unique

In [94]:
# Not Ordered And Not Indexed

mySetOne = {"Osama", "Ahmed", 100}
print(mySetOne)

# Indexing Cant Be Done
# print(mySetOne[0])

{'Ahmed', 100, 'Osama'}

In [95]:
# Slicing Cant Be Done

mySetTwo = {1, 2, 3, 4, 5, 6}
# print(mySetTwo[0:3])

In [96]:
# Has Only Immutable Data Types

# mySetThree = {"Osama", 100, 100.5, True, [1, 2, 3]} # unhashable type: 'list'
mySetThree = {"Osama", 100, 100.5, True, (1, 2, 3)}
mySetThree

{(1, 2, 3), 100, 100.5, 'Osama', True}

In [97]:
# Items Is Unique

mySetFour = {1, 2, "Osama", "One", "Osama", 1}
print(mySetFour)

{1, 2, 'One', 'Osama'}

**Set Methods**

* **[1]** clear() : Removes all elements from a set, making it an empty set.

In [98]:
a = {1, 2, 3}
a.clear()
print(a)

set()

* **[2]** union(): Returns a new set containing all the unique elements from both the original set and another set, without duplicates.

In [99]:
b = {"One", "Two", "Three"}
c = {"1", "2", "3"}
x = {"Zero", "Cool"}

print(b | c)
print(b.union(c, x))

{'One', '1', '3', '2', 'Two', 'Three'}
{'One', '1', '3', '2', 'Cool', 'Zero', 'Two', 'Three'}

* **[3]** add() : Used to add an element to a set. If the element is already in the set, the set remains unchanged.

In [100]:
d = {1, 2, 3, 4}
d.add(5)
d.add(6)
print(d)

{1, 2, 3, 4, 5, 6}

* **[4]** copy(): Creates a shallow copy of the set, allowing you to work with a duplicate set that is independent of the original set.

In [101]:
e = {1, 2, 3, 4}
f = e.copy()

print(e)
print(f)

e.add(6)

print(e)
print(f)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 4}

* **[5]** remove(): Removes a specified element from the set. If the element is not found, it raises a KeyError.

In [102]:
g = {1, 2, 3, 4}
g.remove(1)
# g.remove(7)
print(g)

{2, 3, 4}

* **[6]** discard(): Removes a specified element from the set. If the element is not found, it does nothing and does not raise an error.

In [103]:
h = {1, 2, 3, 4}
h.discard(1)
h.discard(7)
print(h)

{2, 3, 4}

* **[7]** pop(): Removes and returns an arbitrary element from the set. If the set is empty, it raises a KeyError.

In [104]:
i = {"A", True, 1, 2, 3, 4, 5}
print(i.pop())

True

* **[8]** update(): Adds all elements from another set (or multiple sets) to the original set.

In [105]:
j = {1, 2, 3}
k = {1, "A", "B", 2}
j.update(['Html', "Css"])
j.update(k)

print(j)

{1, 2, 3, 'B', 'Html', 'A', 'Css'}

* **[9]** difference(): Returns a new set containing elements from the original set that are not present in another set.

In [106]:
a = {1, 2, 3, 4}
b = {1, 2, 3, "Osama", "Ahmed"}
print(a)
print(a.difference(b))  # a - b
print(a)

{1, 2, 3, 4}
{4}
{1, 2, 3, 4}

* **[10]** difference_update(): Updates the set by removing the elements that are common with another set.

In [107]:
c = {1, 2, 3, 4}
d = {1, 2, "Osama", "Ahmed"}
print(c)
c.difference_update(d)  # c - d
print(c)

{1, 2, 3, 4}
{3, 4}

* **[11]** intersection(): Returns a new set containing the common elements between the original set and another set.

In [108]:
e = {1, 2, 3, 4, "X", "Osama"}
f = {"Osama", "X", 2}
print(e)
print(e.intersection(f))  # e & f
print(e)

{1, 2, 3, 4, 'X', 'Osama'}
{2, 'Osama', 'X'}
{1, 2, 3, 4, 'X', 'Osama'}

* **[12]** intersection_update(): Updates the set with the intersection of itself and another set.

In [109]:
g = {1, 2, 3, 4, "X", "Osama"}
h = {"Osama", "X", 2}
print(g)
g.intersection_update(h)  # g & h
print(g)

{1, 2, 3, 4, 'X', 'Osama'}
{2, 'Osama', 'X'}

* **[13]** symmetric_difference(): Returns a new set containing elements that are unique to either the original set or another set, but not in both.

In [110]:
i = {1, 2, 3, 4, 5, "X"}
j = {"Osama", "Zero", 1, 2, 4, "X"}
print(i)
print(i.symmetric_difference(j))  # i ^ j
print(i)

{1, 2, 3, 4, 5, 'X'}
{3, 5, 'Zero', 'Osama'}
{1, 2, 3, 4, 5, 'X'}

* **[14]** symmetric_difference_update(): Updates the set with the symmetric difference between itself and another set.

In [111]:
k = {1, 2, 3, 4, 5, "X"}
l = {"Osama", "Zero", 1, 2, 4, "X"}
print(k)
k.symmetric_difference_update(l)  # k ^ l
print(k)

{1, 2, 3, 4, 5, 'X'}
{3, 5, 'Zero', 'Osama'}

* **[15]** issuperset(): Returns True if the original set is a superset of another set; otherwise, it returns False.

In [112]:
a = {1, 2, 3, 4}
b = {1, 2, 3}
c = {1, 2, 3, 4, 5}

print(a.issuperset(b))  # True
print(a.issuperset(c))  # False

True
False

* **[16]** issubset(): Returns True if the original set is a subset of another set; otherwise, it returns False.

In [113]:
d = {1, 2, 3, 4}
e = {1, 2, 3}
f = {1, 2, 3, 4, 5}

print(d.issubset(e))  # False
print(d.issubset(f))  # True

False
True

* **[17]** isdisjoint(): Returns True if the original set has no elements in common with another set; otherwise, it returns False.

In [114]:
g = {1, 2, 3, 4}
h = {1, 2, 3}
i = {10, 11, 12}

print(g.isdisjoint(h))  # False
print(g.isdisjoint(i))  # True

False
True

### 2.6. Dictionary

* **[1]** Dict Items Are Enclosed in Curly Braces
* **[2]** Dict Items Are Contains Key : Value
* **[3]** Dict Key Need To Be Immutable => (Number, String, Tuple) List Not Allowed
* **[4]** Dict Value Can Have Any Data Types
* **[5]** Dict Key Need To Be Unique
* **[6]** Dict Is Not Ordered You Access Its Element With Key

In [115]:
# Dictionary

user = {
  "name": "Osama",
  "age": 36,
  "country": "Egypt",
  "skills": ["Html", "Css", "JS"],
  "rating": 10.5
}

print(user)
print(user['country'])
print(user.get("country"))

{'name': 'Osama', 'age': 36, 'country': 'Egypt', 'skills': ['Html', 'Css', 'JS'], 'rating': 10.5}
Egypt
Egypt

In [116]:
print(user.keys())
print(user.values())

dict_keys(['name', 'age', 'country', 'skills', 'rating'])
dict_values(['Osama', 36, 'Egypt', ['Html', 'Css', 'JS'], 10.5])

In [117]:
# Two-Dimensional Dictionary

languages = {
  "One": {
    "name": "Html",
    "progress": "80%"
  },
  "Two": {
    "name": "Css",
    "progress": "90%"
  },
  "Three": {
    "name": "Js",
    "progress": "90%"
  }
}

print(languages)
print(languages['One'])
print(languages['Three']['name'])

{'One': {'name': 'Html', 'progress': '80%'}, 'Two': {'name': 'Css', 'progress': '90%'}, 'Three': {'name': 'Js', 'progress': '90%'}}
{'name': 'Html', 'progress': '80%'}
Js

In [118]:
# Dictionary Length

print(len(languages))
print(len(languages["Two"]))

3
2

In [119]:
# Create Dictionary From Variables

frameworkOne = {
  "name": "Vuejs",
  "progress": "80%"
}

frameworkTwo = {
  "name": "ReactJs",
  "progress": "80%"
}

frameworkThree = {
  "name": "Angular",
  "progress": "80%"
}

allFramework = {
  "one": frameworkOne,
  "two": frameworkTwo,
  "three": frameworkThree
}

print(allFramework)

{'one': {'name': 'Vuejs', 'progress': '80%'}, 'two': {'name': 'ReactJs', 'progress': '80%'}, 'three': {'name': 'Angular', 'progress': '80%'}}

**Dictionary Methods**

* **[1]** clear()

In [120]:
user = {
  "name": "Osama"
}
print(user)
user.clear()
print(user)

{'name': 'Osama'}
{}

* **[2]** update()

In [121]:
member = {
  "name": "Osama"
}
print(member)
member["age"] = 36
print(member)
member.update({"country": "Egypt"})
print(member)

{'name': 'Osama'}
{'name': 'Osama', 'age': 36}
{'name': 'Osama', 'age': 36, 'country': 'Egypt'}

* **[3]** copy()

In [122]:
main = {
  "name": "Osama"
}

b = main.copy()
print(b)
main.update({"skills": "Fighting"})
print(main)
print(b)

{'name': 'Osama'}
{'name': 'Osama', 'skills': 'Fighting'}
{'name': 'Osama'}

* **[4]** keys() + values()

In [123]:
print(main.keys())
print(main.values())

dict_keys(['name', 'skills'])
dict_values(['Osama', 'Fighting'])

* **[5]** setdefault()

In [124]:
user = {
  "name": "Osama"
}
print(user)
print(user.setdefault("age", 36))
print(user)

{'name': 'Osama'}
36
{'name': 'Osama', 'age': 36}

* **[6]** popitem()

In [125]:
member = {
  "name": "Osama",
  "skill": "PS4"
}
print(member)
member.update({"age": 36})
print(member.popitem())

{'name': 'Osama', 'skill': 'PS4'}
('age', 36)

* **[7]** items()

In [127]:
view = {
  "name": "Osama",
  "skill": "XBox"
}

allItems = view.items()
print(view)
view["age"] = 36

print(allItems)

{'name': 'Osama', 'skill': 'XBox'}
dict_items([('name', 'Osama'), ('skill', 'XBox'), ('age', 36)])

* **[8]** fromkeys()

In [128]:
a = ('MyKeyOne', 'MyKeyTwo', 'MyKeyThree')
b = "X"

print(dict.fromkeys(a, b))

{'MyKeyOne': 'X', 'MyKeyTwo': 'X', 'MyKeyThree': 'X'}

### 2.7. Boolean

* **[1]** In Programming You Need to Known Your If Your Code Output is True Or False
* **[2]** Boolean Values Are The Two Constant Objects False + True.

In [129]:
name = " "
print(name.isspace())

True

In [130]:
print(100 > 200)
print(100 > 100)
print(100 > 90)

False
False
True

In [131]:
# True Values

print(bool("Osama"))
print(bool(100))
print(bool(100.95))
print(bool(True))
print(bool([1, 2, 3, 4, 5]))

True
True
True
True
True

In [132]:
# False Values

print(bool(0))
print(bool(""))
print(bool(''))
print(bool([]))
print(bool(False))
print(bool(()))
print(bool({}))
print(bool(None))

False
False
False
False
False
False
False
False

**Boolean Operators**

* **and**
* **or**
* **not**

In [133]:
age = 36
country = "Egypt"
rank = 10

In [134]:
print(age > 16 and country == "Egypt" and rank > 0)  # True
print(age > 16 and country == "KSA" and rank > 0)  # False

True
False

In [135]:
print(age > 40 or country == "KSA" or rank > 20)  # False
print(age > 40 or country == "Egypt" or rank > 20)  # True

False
True

In [136]:
print(age > 16)  # True
print(not age > 16)  # Not True = False

True
False

**Assignment Operators**

* **=**
* **+=**
* **-=**
* ***=**
* **/=**
* ****=**
* **%=**
* **//=**

In [137]:
x = 10  # Var One
y = 20  # Var Two

# Var One = Self [Operator] Var Two
# Var One [Operator]= Var Two

# x += y
x -= y

print(x)

-10

**Comparison Operators**

* **[ == ] Equal**
* **[ != ] Not Equal**
* **[ > ] Greater Than**
* **[ < ] Less Than**
* **[ >= ] Greater Than Or Equal**
* **[ <= ] Less Than Or Equal**

In [138]:
# Equal 

print(100 == 100)
print(100 == 200)
print(100 == 100.00)

True
False
True

In [139]:
# Not equal

print(100 != 100)
print(100 != 200)
print(100 != 100.00)

False
True
False

In [140]:
# Greater Than 

print(100 > 100)
print(100 > 200)
print(100 > 100.00)
print(100 > 40)

False
False
False
True

In [141]:
# Less Than

print(100 < 100)
print(100 < 200)
print(100 < 100.00)
print(100 < 40)

False
True
False
False

In [142]:
# Greater Than Or Equal

print(100 >= 100)
print(100 >= 200)
print(100 >= 100.00)
print(100 >= 40)

True
False
True
True

In [143]:
# Less Than Or Equal

print(100 <= 100)
print(100 <= 200)
print(100 <= 100.00)
print(100 <= 40)

True
True
True
False

### 3. Type Conversion

In [144]:
# str()

a = 10
print(type(a))
print(type(str(a)))

<class 'int'>
<class 'str'>

In [145]:
# tuple()

c = "Osama"  # String
d = [1, 2, 3, 4, 5]  # List
e = {"A", "B", "C"}  # Set
f = {"A": 1, "B": 2}  # Dictionary

print(tuple(c))
print(tuple(d))
print(tuple(e))
print(tuple(f))

('O', 's', 'a', 'm', 'a')
(1, 2, 3, 4, 5)
('A', 'C', 'B')
('A', 'B')

In [146]:
# list()

c = "Osama"  # String
d = (1, 2, 3, 4, 5)  # Tuple
e = {"A", "B", "C"}  # Set
f = {"A": 1, "B": 2}  # Dictionary

print(list(c))
print(list(d))
print(list(e))
print(list(f))

['O', 's', 'a', 'm', 'a']
[1, 2, 3, 4, 5]
['A', 'C', 'B']
['A', 'B']

In [147]:
# set()

c = "Osama"  # String
d = (1, 2, 3, 4, 5)  # Tuple
e = ["A", "B", "C"]  # List
f = {"A": 1, "B": 2}  # Dictionary

print(set(c))
print(set(d))
print(set(e))
print(set(f))

{'a', 'O', 's', 'm'}
{1, 2, 3, 4, 5}
{'A', 'C', 'B'}
{'A', 'B'}

In [148]:
# dict()

d = (("A", 1), ("B", 2), ("C", 3))  # Tuple
e = [["One", 1], ["Two", 2], ["Three", 3]]  # List

print(dict(d))
print(dict(e))

{'A': 1, 'B': 2, 'C': 3}
{'One': 1, 'Two': 2, 'Three': 3}

### 4. User Input

In [149]:
fName = input('What\'s Is Your First Name?')
mName = input('What\'s Is Your Middle Name?')
lName = input('What\'s Is Your Last Name?')

fName = fName.strip().capitalize()
mName = mName.strip().capitalize()
lName = lName.strip().capitalize()

print(f"Hello {fName} {mName:.1s} {lName} Happy To See You.")

What's Is Your First Name?Shorouk
What's Is Your Middle Name?Elsayed
What's Is Your Last Name?Eldeep
Hello Shorouk E Eldeep Happy To See You.

**Practical Slice Email**

In [150]:
theName = input('What\'s Your Name ?').strip().capitalize()
theEmail = input('What\'s Your Email ?').strip()

theUsername = theEmail[:theEmail.index("@")]
theWebsite = theEmail[theEmail.index("@") + 1:]

print(f"Hello {theName} Your Email Is {theEmail}")
print(f"Your Username Is {theUsername} \nYour Website Is {theWebsite}")

What's Your Name ?Shorouk
What's Your Email ?shorouk119@gmail.com
Hello Shorouk Your Email Is shorouk119@gmail.com
Your Username Is shorouk119
Your Website Is gmail.com

**Practical Your Age Full Details**

In [151]:
# Input Age
age = int(input('What\'s Your Age ? ').strip())

# Get Age in All Time Units
months = age * 12
weeks = months * 4
days = age * 365
hours = days * 24
minutes = hours * 60
seconds = minutes * 60

print('You Lived For:')
print(f"{months} Months.")
print(f"{weeks:,} Weeks.")
print(f"{days:,} Days.")
print(f"{hours:,} Hours.")
print(f"{minutes:,} Minutes.")
print(f"{seconds:,} Seconds.")

What's Your Age ? 22
You Lived For:
264 Months.
1,056 Weeks.
8,030 Days.
192,720 Hours.
11,563,200 Minutes.
693,792,000 Seconds.